# ignore vim undofile and swap file
*~
*.swp

# ignore vim runtime
vim[0-9]*

# ignore mingw in windows
mingw*

# ignore packs from vim-plug
vimfiles/autoload
vimfiles/plugged

# ignore ctags-win32
vimfiles/win32exe/ctags

.tags
